<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726877011282-j2c2dmg0pr0pimh95810svaq0035lh8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726877011282-j2c2dmg0pr0pimh95810svaq0035lh8l</string>
	<key>API_KEY</key>
	<string>AIzaSyCBYcOMeR8e-LA-PeZDd0Tefg50NH2XWIw</string>
	<key>GCM_SENDER_ID</key>
	<string>726877011282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vibewithmee</string>
	<key>PROJECT_ID</key>
	<string>vibewithme-c903c</string>
	<key>STORAGE_BUCKET</key>
	<string>vibewithme-c903c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726877011282:ios:5aaaf58f56c3f5f1008e8b</string>
</dict>
</plist>